
/*-----------------------
 	Newsletter / Contato
-------------------------*/
h3.title{
    color: #cc1414;
    font-family: impact;
}

.newsletter p{
    color: whitesmoke;
}

.newsletter form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.newsletter form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
}

.newsletter form .btn{
	padding: 18px 42px;
}


@media (max-width: 800px){

	.newsletter form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}